@import '@/style/media.less';

.features2 {
  padding: 0 120px 76px;

  @media screen and (max-width: @xl) {
    padding: 0 30px 40px;
  }
  @media screen and (max-width: @sm) {
    padding-left: 0;
    padding-right: 0;
  }

  &-content {
    &-item {
      display: flex;
      justify-content: center;
      margin-top: 99px;

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__weapp {
      @width: 222px;
      @height: 433px;
      width: @width;
      height: @height;
      margin-bottom: 12px;
      transform-origin: top center; // 从顶部中间放大，避免往下撑布局

      @media screen and (max-width: @md) {
        width: @width * 1.3; /* 修改宽高 */
        height: @height * 1.3;
        // background-color: red;
      }

      // @media screen and (max-width: @sm) {
      //   width: @width * 1.6;
      //   height: @height * 1.6;
      //   background-color: yellow;
      // }

      // @media screen and (max-width: @min) {
      //   width: @width * 2;
      //   height: @height * 2;
      //   background-color: blue;
      // }
    }

    &__pc {
      width: 650px;
      // height: 384px;
      margin-bottom: 42px;
      margin-top: 20px;
    }

    &__after {
      height: 29px;
      margin: 0 auto;
    }
  }
}
