.contents {
  padding: 98px 120px 72px;

  &-img1 {
    width: 564px;
    height: 485px;
  }

  &-img2 {
    width: 482px;
    height: 596px;
  }

  &-row {
    margin-bottom: 84px;
  }

  &-item {
    &__type {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #2ec07e;
    }
    &__title {
      font-weight: 600;
      font-size: 36px;
      margin: 20px 0 16px;
      line-height: 50px;
    }

    &__desc {
      font-size: 18px;
      line-height: 25px;
      color: #333333;
    }
  }
}
